xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="User">
		<xs:complexType>
			<xs:attribute name="u_state" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="online"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="moto"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_mood" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="今天放假了"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_mobile" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:long">
						<xs:enumeration value="12345678901"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_job" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="IT软件工程师"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_id" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:byte">
						<xs:enumeration value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_hometown" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="山西"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_email" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="aaa@XXX.com"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="u_avatar" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="w34353453543r53"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
